@import "tailwindcss";
@import "./styles/_colors.scs";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: var(--grey-9);
  --theme-color: var(--green-5);
  --theme-color--hover: var(--green-7);
  --text-color: var(--grey-9);
  --body-font: "Garamond", sans-serif;
  --logo-font: serif;

}

/* grey-9  */
body {
  color: var(--text-color);
  font-family: var(--body-font);
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

main.container {
  padding: 1em 2em;
  position: relative;
}

header {
  border-bottom: 1px solid rgba(255, 120, 220, 0.3);
  box-shadow: 0 6px 20px rgba(255, 50, 180, 0.2), 0 1px 0 rgba(255, 200, 240, 0.15) inset;
}

button {
  cursor: pointer;
}

select {
  color: var(--grey-8);
  font-weight: 600;
}

button.primary {
  background-color: #b5505a;
  color: var(--grey-1) !important;

}

button.secondary {
  color: var(--grey-9) !important;
}